# Fill this .env.example file with whatever values you need/want
# Once done, rename this file to .env

GMOD_PORT=27015 # This will be the garry's mod server port, which can then be used to connect to the server via connect 127.0.0.1:27015 <--- or whateevr you set the port to
GMOD_MYSQL_PORT=3306 # This will be the MySQL port, usefull for connecting darkrp, or other addons so that they can later be used across multiple servers, be accessed by a discord bot, or be displayed on a website!
GMOD_MYSQL_DB=gameserver_db # This will be the actual database that everything will be saved to, this can be named anything that you want
GMOD_REDIS_PORT=6379 # This is the port for teh Redis service, used for fast in-memory storage, usful for caching and such!
GMOD_HIBERNATE_THINK=true # Essentially sets sv_hibernate_think to 1 if GMOD_HIBERNATE_THINK is set to true, and 0 if it's false...
GMOD_ALLOW_LOCAL_HTTP=true # This sets the allowlocalhttp convar, if set to true it will be active, and will allow the server to connect to a locally hosted HTTP connection
GMOD_TICKRATE=16 # Pretty simple, the servers tickrate. The higher you put it, the easier it will be to crash, and the lower you set it, the slower things will be processed. Try finding a good middleground.
GMOD_GAMEMODE=sandbox # The servers gamemode, can be changed to whatever aslong as it exists in the gamemodes folder
GMOD_MAP=gm_construct # The map that the server runs on startup
GMOD_PLAYERS=16 # The maximum ammount of players
GMOD_KEYS_SERVER_ACCOUNT=XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX # The GSLT key of the server, can be found at https://steamcommunity.com/dev/managegameservers. This will boost your server on the server browser, don't skip this!